<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LcScrollBannerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BA5CC331C2544D5008230C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA5CC4A1C2544D5008230C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA5CC551C2544D5008230C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
